
<div class="container-fluid border shadow p-5" style="height: 450px;">
    
    <div *ngIf="!adminStatus" style="height: 100%;" class="d-flex flex-column justify-content-center align-items-center" >
        <h3>Update Admin </h3>
        <a class="text-decoration" style="cursor:pointer;" (click)="updateAdminConfirm()">Click to Update Admin</a>
    </div>
    <div *ngIf="adminStatus">
    <h3>Update Admin </h3>
        <form (ngSubmit)="handleUpdateAdmin()">
            <div class="mb-3 mt-3">
                <label for="pimg" class="d-flex justify-content-center">
                    <input type="file" (change)="getFile($event)" name="" id="pimg" style="display: none;" >
                    <img [src]="profilePicture" height="100px" width="100px" alt="Profile picture">
                </label>
            </div>
            <div class="mb-3">
              <label for="exampleUsername" class="form-label"> Username </label>
              <input type="text" name="uname" [(ngModel)]="adminData.username" class="form-control" id="exampleUsername" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="text" name="pswd" [(ngModel)]="adminData.password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button class="btn btn-warning" (click)="onCancel()" type="button">Cancel</button>
            </div>
          </form>
    </div>
</div>