#ban1{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyhRnoyBIumTR6hhefUjay698Gd6TWReT77Q&usqp=CAU');
    height: 100px;
    color:white;
    font-weight: 100; 
    background-repeat: no-repeat;
    background-size: 100%;
}

#cnt{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyhRnoyBIumTR6hhefUjay698Gd6TWReT77Q&usqp=CAU'); 
    color: white;
    font-size: 30px;
}